<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-app-reg-secret-rotation.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/217582ea-f73e-4857-9241-970f012be58d/resourceGroups/rg-app-reg-secret-rotation/providers/Microsoft.Web/sites/func-app-reg-secret-rotation</ResourceId>
    <UserName>$func-app-reg-secret-rotation</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-app-reg-secret-rotation.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>